.git
.venv
node_modules

backend/vendor
backend/node_modules
backend/.env
backend/.env.*
backend/public/storage
backend/storage/app/public/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*

frontend

ai_layer/venv
ai_layer/.venv
ai_layer/.env
ai_layer/__pycache__
ai_layer/*.png
